<template>
  <div class="blockstack">
    <h1>Blockstack</h1>
    <p>It is {{ state }}.</p>
  </div>
</template>

<script>
export default {
  name: 'blockstack',
  data () {
    return {
      state: 'running'
    }
  }
}
</script>
